*{
	padding: 0;
	margin: 0;
	
	font-family: 'Poppins', sans-serif;
}

.header{
min-height: 100vh;
width: 100%;
background-size: cover;
position: relative;
background-position: center;
background-color: #FFFF33;
background-image: linear-gradient(rgba(225, 225, 51, 0.4), rgba(225, 225, 51, 0.6) ), url(images/za.jpeg);
text-align: center;
overflow: hidden;

}

.header img{
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0.6;
}

.header h1{
	font-family: 'Shalimar', cursive;;
	width: 100%;
	font-weight: 700;
	color: #fffdd0;
	font-size: 80px;
	bottom: 50%;
	left: -10%;
	position: absolute;
}
.header p{
font-family: 'Shalimar', cursive;;
	width: 100%;
	font-weight: 500;
	color: #fffdd0;
	font-size: 40px;
	bottom: 45%;
	left: -10%;
	position: absolute;

} 

/*For mobile */
@media(max-width: 700px){
 
 .header h1{
font font-size: 40px;

 }
	
}


/*-----side menu things---------*/
.nav-links ul li{
	display: block;
	padding: 10px;
}



.nav-links {

position: absolute;
background: #C8E512;
opacity: 0.6;
height: 50vh;
width: 150px;
top: 0;
left: -200px;
text-align: right;
z-index: 2;
transition: 1s;
 }


.nav-links ul li a{

	color: #fff;
	font-weight: 900;
	text-decoration: none;
	font-size: 13px;
}


nav .fa{
position: absolute;
display: block;
color: #fff;
margin: 10px 50px;
font-size: 22px;
cursor: pointer;
text-align: right;
}

.nav-links ul{
	padding: 30px;
}


/*-------------About Me------------*/

.aboutme{
background-color: #adff2f;
opacity: 0.6;
width: 98%;
margin: auto;
text-align: center;
padding: 10px,100px,0,0px;
}

.aboutme h1{
	font-size: 36px;
	font-weight: 100px;
	color: #777;
	left: 50%;
	bottom: -10%;
	transform: translateX(-50%);
	position: absolute;
	transition: 2.5s;

}
.aboutme:hover h1{

bottom: -40%;
color: lightyellow;

}

.row{

	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.aboutme-col{

	flex-basis: 42%;
	background: #daa520;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	padding: 20px 12px;
	box-sizing: border-box;
}

.aboutme-col:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.aboutme-col p{

	color: #777;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	padding: 10px;
}



.aboutme-col img{
	width: 120%;
	height: 100%;
	border-radius: 10px;
}

@media(max-width: 700px){

	.row{
		flex-direction: column;
	}

	.row img{
		width: 100%;
		height:400px;
	}
/*
.aboutme-col{
	margin-top: -24px;
}*/

}


/*---------projects-----------*/
.projects{
background-color: #adff2f;
opacity: 0.6;
width: 98%;
margin: auto;
text-align: center;
padding: 10px,100px,0,0px;
}

.projects h1{
	font-size: 36px;
	font-weight: 100px;
	color: lightyellow;
/*	left: 50%;
	bottom: -95%;
	transform: translateX(-50%);
	position: absolute;
	transition: 2.5s;*/

}
/*.projects:hover h1{

bottom: -120%;
}*/

.row{

	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.projects-col{

	flex-basis: 42%;
	background: #daa520;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	padding: 20px 12px;
	box-sizing: border-box;
}

.projects-col:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.projects-col p{

	color: #777;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	padding: 10px;
}



.projects-col img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

/*-----------My Journey----------------*/
.journey{
background-color: #adff2f;
opacity: 0.6;
width: 98%;
margin: auto;
text-align: center;
padding: 10px,100px,0,0px;
}

.journey h1{
	font-size: 36px;
	font-weight: 100px;
	color: lightyellow;

}

.row{

	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.journey-col{

	flex-basis: 42%;
	background: #daa520;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	padding: 20px 12px;
	box-sizing: border-box;
}

.journey-col:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.journey-col p{

	color: #777;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	padding: 10px;
}


.journey-col img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
/*Achievements*/
.achievements{
background-color: #adff2f;
opacity: 0.6;
width: 98%;
margin: auto;
text-align: center;
padding: 10px,100px,0,0px;
}

.achievements h1{
	font-size: 36px;
	font-weight: 100px;
	color: lightyellow;

}

.row{

	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.achievements-col{

	flex-basis: 42%;
	background: #daa520;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	padding: 20px 12px;
	box-sizing: border-box;
}

.achievements-col:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.achievements-col p{

	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}


.achievements-col img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

/*-------------contacts-----------------*/

.contacts{

	margin: auto;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(225, 225, 51, 0.1), rgba(225, 225, 51, 0.4) ), url(images/bees2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}

.contacts h4{
	color: white;
	margin-bottom: 40px;
	padding: 0;
}

.contacts p{
color: white;
	margin-bottom: 40px;
	padding: 0;

}
@media(max-width: 700px){
	.contacts{
		font-size: 18px;
	}
}

.icons .fa{

	color: white;
	margin:  0 13px;
	cursor: pointer;
	padding: 18px 0;
}
 
 .fa-heart{
 	color: red;
 }